/* dynamic-menu.component.scss */
:host {
  display: block;
}

.menu-list {
  width: 200px;
}

.mat-list-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-list-item:hover {
  background-color: #0c3b79; /* Light gray on hover */
}

// .mat-icon {
//   margin-right: 10px;
//   color: #007bff; /* Blue color for the icon */
// }

.mat-list-item-text {
  font-size: 16px;
  font-weight: bold;
}


.mat-list-item.selected {
  background-color: #8c00ff; /* Blue color for the selected item */
  color: #fff; /* White text color for the selected item */
}

