<div class="table-container">
<mat-card>
  <mat-card-header>
    <mat-card-title>{{ config?.label }}</mat-card-title>
  </mat-card-header>
  <mat-table *ngIf="config && config.tableData" [dataSource]="config.tableData">
    <ng-container *ngFor="let header of config.headers" [matColumnDef]="header">
      <mat-header-cell *matHeaderCellDef> {{ header }} </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row[header] }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="config.headers"></mat-header-row>
    <mat-row *matRowDef="let row; columns: config.headers;"></mat-row>
  </mat-table>
</mat-card>
</div>